@font-face {
    font-family: 'EUROF35' !important;
    src: url('../fonts/EUROF35.TTF');
}

html {
	font-size: 115%;
}

body {
	font-family: 'EUROF35' !important;
	background: #666666;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 1000px) and (orientation:landscape) {
	#side2 {
		display: none;
	}
	#play_pause{
		margin-left: 70% !important;
		width: 8% !important;
	}
}

@media screen and (max-height: 350px) and (orientation:landscape) {
	#header {
		text-align: center !important;
	}
		#header p {
			margin-right: 0 !important;
		}
	#play_pause {
		margin-left: 47% !important;
		margin-top: 23% !important;
	}

	#footer {
		text-align: center !important;
	}
		#footer p {
			margin-right: 0 !important;
		}

	video {
		position: relative !important;
	}

	#side_bar {
		position: relative !important;
	}

	#side1 {
		width: 100% !important;
		margin: 0px !important;
		padding: 20px 0 20px 0 !important;
		position: relative !important;

	}
	.logo_tecnocasa {
		position: relative !important;
		bottom: 80px;
		left: 10%;
		width: 80%;
	}
			#side1 p {
				margin: 0 !important;
				padding: 0 20px 0 20px !important;
			}

	#download_pdf {
		background: #35909b;
		margin-right: 20px;
		margin-left: 20px;
		min-width: 200px;
		height: 4rem;
		text-align: center;
	}
	#side2 {
		position: relative !important;
		display: inline !important;
		width: 100% !important;
		margin: 5px 0 50px 0 !important;
		padding: 20px 0 20px 0 !important;
		float: left !important;
	}
		#side2 p {
			margin: 0 !important;
			padding: 0 20px 0 20px !important;
		}
}

@media screen and (max-width: 350px) {
	#header {
		padding: 0 !important;
		margin: 0 !important;
		text-align: center !important;
	}
		#header a {
			padding: 0 !important;
			margin: 0 !important;
		}
		#header img {
			margin-left: 10px !important;
		}
	#play_pause {
		width: 15% !important;
		margin-left: 45% !important;
	}
	#side_bar p {
		font-size: 1rem !important;
	}
		#side_bar p.title {
		font-size: 1.1rem !important;
		padding-bottom: 5px !important;
	}
	#side_bar a {
		font-size: 1.3rem !important;
		line-height: 2rem !important;
	}
	.contacts {
		display: none;
	}
	.logo_tecnocasa {
		position: absolute !important;
		bottom: 80px;
		left: 10%;
		width: 80%;
	}
}

@media screen and (orientation:portrait) {

	#header {
		text-align: center !important;
	}
		#header p {
			margin-right: 0 !important;
		}

	#play_pause {
		width: 10% !important;
		margin-left: 45% !important;
	}
	#footer {
		text-align: center !important;
	}
		#footer p {
			margin-right: 0 !important;
			font-size: 0.9rem !important;
		}

	video {
		position: relative !important;
	}

	#side_bar {
		position: relative !important;
	}
		#side_bar a{
			font-size: 0.9rem !important;
		}
		#side_bar p.title {
			font-size: 0.9rem !important;
		}

	#side1 {
		width: 100% !important;
		margin: 0px !important;
		padding: 20px 0 20px 0 !important;
		position: relative !important;

	}
			#side1 p {
				margin: 0 !important;
				padding: 0 15px 0 15px !important;
			}

	#download_pdf {
		background: #35909b;
		margin-right: 20px;
		margin-left: 20px;
		min-width: 200px;
		height: 4rem;
		text-align: center;
	}
		#download_pdf a{
			font-size: 1.1rem !important;
		}

	#side2 {
		position: relative !important;
		width: 100% !important;
		margin: 5px 0 50px 0 !important;
		padding: 20px 0 20px 0 !important;
		float: left !important;
	}
		#side2 p {
			margin: 0 !important;
			padding: 0 15px 0 15px !important;
		}
	
	.logo_tecnocasa {
		position: relative !important;
		bottom: 60px !important;
		max-width: 250px !important;
		padding-top: 20px !important;
		left: 0px !important;
	}
	.tecnocasa_logo_container {
		text-align: center !important;
	}
}



#header {
	top:0px;
	right:0;
	left:0;
	position:fixed;
	height: 50px;
	background: rgba(0, 0, 0, 0.5);
	padding: 0;
	z-index: 1000;
	text-align: right;
	font-size: 1.2rem;
	line-height: 50px;
}
	#header a {
		color: #b3d8ff;
		margin-right: 30px;
		outline: none;
	}
		#header a:hover {
			color: #87b2df;
		}

	#header img {
		float: left;
		margin-left: 30px;
		margin-top: 10px;
	}
		#header img:hover {
			color: #87b2df;
		}
		
#content {
	width: 100%;
	position: absolute;
}
#content_gallery {
  width: 80%;
  padding-bottom: 3rem;
  margin-left: 10%;
  margin-top: 3rem;
}

iframe{
	margin-left: 5%;
 	margin-top: 5rem;
	width: 90%;
	height: 25rem;
	border: 0;
}

#bg_video {
	width: 100%;
	height: 100%;
	position: relative;
}

#play_pause{
	position: absolute;
	margin-left: 48%;
	margin-top: 24%;
	z-index: 1002;
	width: 5%;
	outline: none;
	-webkit-filter: drop-shadow(2px 2px 2px black);
}
	#play_pause:hover{
		-webkit-filter: drop-shadow(0px 0px 0px black);
	}


video {
	position:absolute;
	right: 0;
	left: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: auto;
	z-index: 101;
}

#side_bar {
	position: fixed;
	padding: 0px;
	margin: 0px;
	width: 100%;
	z-index: 999;
}
	#side_bar p, li {
		color: #fff;
		font-size: 1.2rem;
	}
	#side_bar p.title {
		font-size: 1.6rem;
		color: #e8583c;
		padding-bottom: 5px;
	}
	#side_bar a {
		font-size: 1.2rem;
		color: #dedede;
	}
		#side1 a:hover {
			color: #fff;
		}

#download_pdf {
	background: #35909b;
	margin-right: 20px;
	height: 2.2rem;
	text-align: center;
}
	#download_pdf a{
		font-size: 1.7rem;
		line-height: 2rem;
		outline: none;
	}

#side1 {
	background: rgba(0, 0, 0, 0.4);
	width: 380px;
	z-index: 101;
	margin-left: 30px;
	position: fixed;
	margin-top: 70px;
	padding-left: 25px;
	padding-bottom: 25px;
}

#side2 {
	background: rgba(0, 0, 0, 0.4);
	width: 470px;
	z-index: 102;
	margin-right: 30px;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	margin-top: 70px;
	position: relative;
	float: right;
}

.logo_tecnocasa {
	position: fixed;
	z-index: 102;
	bottom: 80px;
	left: 30px;
	width:250px;
}

#footer {
	padding: 0;
	background: #292929;
	bottom:0px;
	height: 50px;
	right:0px;
	left:0px;
	position:fixed;
	z-index: 1000;
	text-align: right;
	font-size: 1.2rem;
	line-height: 0.5rem;
}
	#footer p {
		color: #b3d8ff;
		margin-right: 30px;
	}



ul.rig {
	list-style: none;
	font-size: 0px;
	margin-left: -2.5%;
}

ul.rig li {
	text-align: center;
	display: inline-block;
	background: #dddddd;
	margin: 0 1.25% 2.5% 1.25%;
	border: 1px solid #ddd;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	box-shadow: 2px 2px 2px #2e2e2e;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

ul.rig li .loading {
	margin-top: 1rem;
	text-align: left;
	width: 16px;
}

ul.rig li a {
	outline: none;
}

ul.rig li input{
	width: 94%;
	margin: 3%;
}

ul.rig li .snap_footer {
	background: #bdbdbd;
	height: 1.7rem;
	line-height: 1.7rem;
}

ul.rig li .image_date {
	font-size: 0.8rem;
	float: left;
	margin-left: 2rem;
	color: #7f7f7f;
}
ul.rig li .snap_footer .modifier {
	width: 1rem;
	margin-top: 0.35rem;	
	float: right;
	margin-right: 2rem;
}
ul.rig li .snap_footer .icons {
	display: none;
	width: 1rem;
	margin-top: 0.35rem;	
	float: right;
	margin-right: 2rem;
}



ul.rig li img {
	width: 100%;
	padding: 0 !important;
}

ul.rig li h3 {
	margin: 0;
	padding: 3%;
	line-height: 1.1rem;
	font-size: .9rem;
	text-transform:uppercase;
	color: #2e2e2e;
}

ul.rig li p {
	font-size: 1rem;
	padding: 1%;
	line-height: 1.2em;
	color: #2e2e2e;
}

ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}

ul.rig.columns-4 li {
	width: 22.50%; /* this value + 2.5 should = 33% */
}


@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}

	ul.grid-nav li a {
		display: block;
	}

	ul.rig {
		margin-left: 0;
	}

	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}
