{% extends 'base.html' %}

{% block header %}
    <div id="header">
        
        <a class="link_to_main" href="/">{{ _('главная') }}</a>&nbsp;&nbsp;
        <a target='blank' href="{{ url_for('static', filename = 'plan.pdf') }}">{{ _('схемы') }}</a>&nbsp;&nbsp;
        <a href="https://www.youtube.com/watch?v=cdNbbX-XpG0&list=UUjCiB22wRzIbUdZQNhLpgRQ">{{ _('видеоролик') }}</a>

    </div>
{% endblock %}

{% block content %}


    <iframe src="http://overlook.pro/wp-content/uploads/pano/casa-in-vendita/virtualtour.html"></iframe>

    <div id='content_gallery'>
        <ul class="rig columns-3">
            
            <li>
                <h3> {{ _('Основной въезд и парковка') }}</h3>
                
                <a href="static/img/large/10.jpg" class="test-popup-link"><img src = "static/img/thumb/10.jpg" /></a>
                <p>{{ _('При въезде в главные ворота с фрональной части дома мы попадаем на просторную парковку, которая вместит до четырех автомобилей.') }}</p>
            </li>
            <li>
                <h3> {{ _('Северо-восточный угол сада') }}</h3>
                <a href="static/img/large/9.jpg" class="test-popup-link"><img src = "static/img/thumb/9.jpg" /></a>
                <p>{{ _('Дерево слева — инжир. Живой изгородью дом огорожен от основной улицы, а также от переулка-тупика, в котором располагается второй въезд на территорию участка.') }}</p>
            </li>
            <li>
                <h3> {{ _('Ванная и туалет второго этажа') }}</h3>
                <a href="static/img/large/11.jpg" class="test-popup-link"><img src = "static/img/thumb/11.jpg" /></a>
                <p>{{ _('Душевая кабина, джакузи, коврик для ног. На всех окнах дома установлены анти-москитные сетки. Помимо них — двойной стеклопакет.') }}</p>
            </li>
            <li>
                <h3> {{ _('Кухня на первом этаже') }}</h3>
                <a href="static/img/large/16.jpg" class="test-popup-link"><img src = "static/img/thumb/16.jpg" /></a>
                <p>{{ _('Из кухни, через уходящие в стороны двери с панорамными бронированные стеклами, можно попасть в сад. Здесь также находится камин, посудомойка и античная печка.') }}</p>
            </li>
            <li>
                <h3> {{ _('Фасад, вид сверху') }}</h3>
                <a href="static/img/large/5.jpg" class="test-popup-link"><img src = "static/img/thumb/5.jpg" /></a>
                <p>{{ _('Поскольку фасад дома выходит прямиком на север, в хорошую погоду на горизонте отчетливо видны альпийские вершины. До них не более 100км.') }}</p>
            </li>

            <li>
                <h3> {{ _('Так выглядит внутренний сад дома') }}</h3>
                <a href="static/img/large/6.jpg" class="test-popup-link"><img src = "static/img/thumb/6.jpg" /></a>
                <p>{{ _('Слева на фотографии виден переулок, из которого через ворота можно попасть на территорию участка. По центру располагается домик и водяная скважина на 30 метров.') }}</p>
            </li>
            <li>
                <h3> {{ _('Слива') }}</h3>
                <a href="static/img/large/7.jpg" class="test-popup-link"><img src = "static/img/thumb/7.jpg" /></a>
                <p>{{ _('Помимо дерева сливы, флора участка также включает деревья хурмы, персиков, абрикоса, груши, инжира, несколько квадратных метров винограда, ежевику, клубнику и куст мелиссы.') }}</p>
            </li>
            <li>
                <h3> {{ _('Еще фотография сада') }}</h3>
                <a href="static/img/large/2.jpg" class="test-popup-link"><img src = "static/img/thumb/2.jpg" /></a>
                <p>{{ _('К дому примыкает навес, специально сделанный, чтобы уберечь машину от жаркого летнего итальянского солнца. Слева от него - надувной бассейн.') }}</p>
            </li>
            <li>
                <h3> {{ _('1/3 комната на втором этаже') }}</h3>
                <a href="static/img/large/1.jpg" class="test-popup-link"><img src = "static/img/thumb/1.jpg" /></a>
                <p>{{ _('В комнате находится встроенный в стену шкаф. Окна выходят во внутренний сад. Теплый пол зимой и прохладный - летом, благодаря центральному климат-контролю.') }}</p>
            </li>
            <li>
                <h3> {{ _('Внутренний сад') }}</h3>
                <a href="static/img/large/3.jpg" class="test-popup-link"><img src = "static/img/thumb/3.jpg" /></a>
                <p>{{ _('Дом находится в тихой зоне. При этом, всего в 10 минутах езды располагается основная автомагистраль до всех уголков Италии, и на север, в Германию, Австрию, Словению и Хорватию.') }}</p>
            </li>
            <li>
                <h3> {{ _('2/3 комната на втором этаже') }}</h3>
                <a href="static/img/large/13.jpg" class="test-popup-link"><img src = "static/img/thumb/13.jpg" /></a>
                <p>{{ _('Большое окно, врезанное в крышу, оборудовано автоматической системой закрытия при дожде или сильном ветре. Управляется оно дистанционно, лежа на диване с пультом в руках.') }}</p>
            </li>
            <li>
                <h3> {{ _('3/3 комната на втором этаже') }}</h3>
                <a href="static/img/large/15.jpg" class="test-popup-link"><img src = "static/img/thumb/15.jpg" /></a>
                <p>{{ _('Во всем доме действует система "теплый пол" зимой и "прохладный пол" летом. Достигается это путем установления режимов автоматического кондиционирования.') }}</p>
            </li>

            <li>
                <h3> {{ _('Спальня на первом этаже') }}</h3>
                <a href="static/img/large/14.jpg" class="test-popup-link"><img src = "static/img/thumb/14.jpg" /></a>
                <p>{{ _('Каждая комната выполнена в своем стиле и наполнена уютом. Из окон спальни в хорошую погоду видны горы.') }}</p>
            </li>
            <li>
                <h3> {{ _('Гараж и мастерская') }}</h3>
                <a href="static/img/large/10.jpg" class="test-popup-link"><img src = "static/img/thumb/10.jpg" /></a>
                <p>{{ _('Мастерская, которая с легкостью превращается в гараж и обратно. Оснащена автоматическими подъемными воротами.') }}</p>
            </li>
            <li>
                <h3> {{ _('Фасад, сверху') }}</h3>
                <a href="static/img/large/4.jpg" class="test-popup-link"><img src = "static/img/thumb/4.jpg" /></a>
                <p>{{ _('Еще одна фотография, демонстрирующая вид на дом с его северной, "Альпийской", стороны.') }}</p>
            </li>

        </ul>
    </div>

    <script>
        $(document).ready(function() {
            $('.test-popup-link').magnificPopup({
                type:'image',
                closeOnContentClick: true,
                mainClass: 'mfp-img-mobile',
                image: {
                    verticalFit: true
                }
            });
        });
    </script>

    
{% endblock %}

{% block footer %}

    <div id="footer">
        <p><b><span class="contacts">{{ _('контакты:') }}</span></b>&nbsp;&nbsp;bondarev.it@gmail.com&nbsp;&nbsp;+39 327 176 9626</p>
    </div>
    
{% endblock %}
