{% extends 'base.html' %}

{% block header %}
    <div id="header">
        
        <a href="{{ url_for('gallery') }}">{{ _('галерея') }}</a>&nbsp;&nbsp;
        <a target='blank' href="{{ url_for('static', filename = 'plan.pdf') }}">{{ _('схемы') }}</a>&nbsp;&nbsp;
        <a target='blank' href="https://www.youtube.com/embed/cdNbbX-XpG0?vq=hd1080">{{ _('видеоролик') }}</a>


    </div>
    <!--
    <a href="javascript: void()">
        <img id="play_pause" src="{{ url_for('static', filename='img/play_pause.svg') }}"></img>
    </a>
    -->
    
    
{% endblock %}

{% block content %}
    <!--
    <script>
        var video = document.getElementById('video');
        document.getElementById("play_pause").onclick = function(e) {
            if(document.getElementById("video").paused) {
                document.getElementById("video").play();
                document.getElementById("play_pause").style.opacity = '0.3';
            }
            else {
                document.getElementById("video").pause();
                document.getElementById("play_pause").style.opacity = '1';
            }
            return false;
        };

    </script>
    -->

    <script>
        $(function(){
            jQuery('video, object').maximage('maxcover');
        };
    </script>

    <div id="bg_video">
        <video id='video'  loop="loop" autobuffer="autobuffer" muted="muted" poster=" {{ url_for('static', filename='img/bg.jpg') }}">

            <source src="https://s3.amazonaws.com/new-bucket-791b0b09/house.webm" type="video/webm">
        </video>
    </div>

    <div id="content">
        <div id="side_bar">
            <div id="side1">
                <p class="title"><b>{{ _('Основные характеристики:') }}</b></p>
                <p> {{ _('Год сдачи в эксплуатацию:') }} <b>2010</b><br>
                    {{ _('Жилая площадь:') }} <b>231,6 {{ _('м') }}<sup>2</sup></b><br>
                    {{ _('Адрес:') }} via dei Cavinelli 120/A - Pianiga (VE)<br>
                    Google Maps: <a href="http://goo.gl/WDsrpe">http://goo.gl/WDsrpe</a></p><br>
                <div id="download_pdf">
                    <a class="download_link" target='blank' href="{{ url_for('static', filename = 'house_desc.pdf') }}"><b>{{ _('скачать') }}</b> {{ _('PDF презентацию') }}</a>
                </div>
            </div>
            <div id="side2">
                <p class="title"><b>{{ _('Дополнительные характеристики:') }}</b></p>
                <p> {{ _('Индивидуальное (газовое) отопление;') }}<br>
                    {{ _('Система теплый пол;') }}<br>
                    {{ _('Климат контроль различных зон дома;') }}<br></p>
                    <ul>
                        <li>{{ _('зима - газовое отопление') }}</li>
                        <li>{{ _('лето - прокачка холодной воды из собственной скважины') }}</li>
                        <li>{{ _('вентиляция дома с возможностью настройки параметров температуры и влажности') }}</li>
                    </ul>   
                <p> {{ _('Водоснабжение центральное ( нагрев - газовый котел);') }}<br>
                    {{ _('Возможность использования собственной скважины;') }}<br>
                    {{ _('Наличие системы многоступенчатой фильтрации.') }}</p>
                <p> {{ _('Дом находится в спокойной и тихой зоне. Несмотря на это, всего в десяти минутах езды располагается одна из основных автомагистралей, ведущая во все уголки Италии, а также на север, в Германию, Австрию, Словению и Хорватию.') }}</p>
            </div>
        </div>
        <div class='tecnocasa_logo_container'>
        	<img class='logo_tecnocasa' src='static/img/logo.jpg'>
        </div>
    </div>


{% endblock %}

{% block footer %}

    <div id="footer">
        <p><b>veho8@tecnocasa.it</b>&nbsp;&nbsp;&nbsp;&nbsp;Тel. e Fax 041.5190447 - 041.5190454</p>
    </div>
    
{% endblock %}
